.App {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #2d3138;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
